*.csv
.ipynb_checkpoints/basic model-checkpoint.ipynb
FNN/.idea/FNN.iml
FNN/.idea/inspectionProfiles/profiles_settings.xml
*.xml
Data Preprocessing/.ipynb_checkpoints/Data Preprocessing-checkpoint.ipynb
